html, body {
	height: 100%;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
}
html {
	overflow-y: hidden;
}
div.graph {
	border: 1px solid black;
	text-align: center;
	margin: auto;
	width: 900px;
	height: 500px;
	padding: 0;
}
pre.bash {
	background-color: black;
	color: white;
	font-size: medium ; 
	font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
	width: 100%;
	height: 100%;
	display: inline-block;
	overflow-y: scroll;
	margin: 10px;
}
div.footer {
	position: absolute;
	left: 0;
	right: 16px; /* scrollbar width */
	bottom: 16px;
	height: 70%;
	margin: 0;
}
div.middle {
	height: 100%;
	overflow-y: scroll;
}

